body{
    background-color: gold;
    /* font-family: ; */
    height:100%;
}

.wrpper{
    width: 800px;
    margin: 30px auto;
    /* margin-left: 100px; */
}

h1,h2,h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 2rem;

}

#tens {
    font-size: 3rem;
}

button{
    border-radius: 10px;
    background-color: red;
    color: white;
    border: solid;
    text-decoration: none;
    cursor: pointer;
}
/* hnjg */
button:hover{
    transition: all 0.5s ease-in-out;
    background: white;
    border: solid 1px white;
    color: black;
}